.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid rgb(70, 22, 22);
  background-color: rgb(100, 88, 41);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px #f8a100;

  &__text {
    max-width: 250px;
    height: 400px;
    color: white;
    margin: 10px 0 0;
  }

  &__btn {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(70, 22, 22);
    padding: 5px;
    box-shadow: inset 0 0 10px #b61111;
    cursor: pointer;
  }
}
