.stats {
  display: flex;
  flex-direction: column;

  &__itemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
  }

  &__text {
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    color: white;
  }

  &__img {
    width: 64px;
    height: 64px;
  }
}
